# Node
node_modules
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Ambiente
.env
.env.local
.env.*.local

# Logs
logs
*.log
log-*.txt

# Sistema / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Build
dist
build
.next
.out
